extends layout


block content
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/u9Mv98Gr5pY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    app-home-list Loading

    block scripts
        script(src='/build/runtime.ec2944dd8b20ec099bf3.bundle.js')
            script(src='/build/polyfills.20ab2d163684112c2aba.bundle.js')
            script(src='/build/main.f23844baa0da71c75bec.bundle.js')