html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')


block content
    app-sign-up Loading



block scripts
    script(src='/build/runtime.ec2944dd8b20ec099bf3.js')
    script(src='/build/polyfills.20ab2d163684112c2aba.js')
    script(src='/build/main.0d5a3018f11263c1ced4.js')






